<h1 class="heading"><br>
    【論理エンジン】について<br>
</h1>

<p class="left">
  &emsp;お薦(すす)めできる中の一つとして、
  「【論理エンジン】ゼミ」のご案内をさせていただきます。
  著者「出口 汪(ひろし)」は予備校のカリスマ教師という顔を持っています。
  他著書には｢日本語トレーニング｣などがあります。
  子供達が続けて取り組んでいくことにあきない事や練習していく事が
  着実に成果を積み重なって力を生んでいくという教材については、
  今のところ他に類を見ません。
  国語の好きな子や嫌いな子に実施してきましたが、
  いずれも子供達が夢中になって取組んでいる姿勢が好印象です。
  集中しているということは子供達が吸収していることです。
  学校の国語の教科書のことはやらなくても、成績に上手に反映していますから、
  これは国語の得点力だけではなく、
  考える力を養ってくれる教材に違いないと納得させられている次第です。
  国語で悩んでいる子供達だけではなく、
  ご家庭で子供達の勉強を見て行かれるお母様にもご利用して頂けるものだと確信しております。<br><br>
</p>

<p class="left">
  論理エンジン: １冊 2,700円<br>
  【レベル1～60／公立高校攻略】<br>
  【レベル61～70／センター試験攻略】
</p>

<p class="left">&emsp;この教材は国語力を鍛えることにより、考える力を養い、頭の使い方をよくするためのものです。
そのために、これまでのどんな教材にもなかった独自の工夫がなされています。
この教材の問題を一つ一つ解くうちに、ものの見方が次第に変わっていくことに気がつくでしょう。
</p>


<p>【論理とは】
</p>
<p class="left">&emsp;日常「論理」という言葉をよく耳にします。
ところが、これほど身近な言葉でも、「論理とは何か」と聞かれれば、意外と答えられない人が多いのではないでしょうか。
実は「論理」とは筋道のことで、話をするときも、無意識のうちに筋道(論理)を立てているものです。
誰もが無意識に行っているそのことを、これからは少し意識してみましょう。<br>
&emsp;日本人は、日本語でものを考えます。
決して英語でものを考えているわけではりません。
また、ものを考えるときは、筋道を立てて考えます。
これが「論理」ですが一生日本語でものを考える限り、まず日本語の論理的な使い方を知る心要があります。
ふだん、日本語を使って話したり書いたりしていますが、
だからといって論理的な日本語の使い方を身につけているわけではありません。
したがって「国語はしょせん日本語だから、勉強しなくても何とかなる」とはならないのです
筆者が日本人であろうと、アメリカ人であろうと、はたまた平安時代の人間であろうと、
その筋道の立て方は同じです。
また、作文や論文を書くときにも、当然筋道を立てなければなりません。
だから、日本語の論理的な使い方を学ぶことは、英語や古文やその他の様々な言葉の教科を勉強するのに必要なのです。
さらに、実は言語教科だけでなく、あらゆる学問はすべて,論理という約束ごとで成り立っています。
だからこそ、絶えず論理的な思考訓練をし続けることが大切なのです。<br>
&emsp;今から目をつぶってください。
そして一分間何でもいいから言葉を使わずに考えてみて下さい。
できましたか?このように、言葉を使わずに何かを考えようとしてもできません。
この状態を「カオス(混沌といます。人間以外の言葉をもたない動物は皆この混沌の状態に置かれたままなのです。
人間だけが、言葉のおかげで世界を整理し、秩序付けているのです。
だから、言葉＝思考, 言葉＝感覚なのです。
いいかげんな言葉の使い方しかできなければ、いい加減な考え方、曖昧な世界の理解の仕方しかできません。
いつも決まりきった言葉しか使えない人は、決まりきった考え方感じ方しかできなくなるのです。
だから、「日本語だから」という理由でその論理的な使い方を学ばないままにしておくのは非常に恐い事なのです。

</p>

<p class="left">
  【応用問題です！】<br>&emsp;(大学入試センタ-試験の「国語1・Ⅱ 」の問題です。)
</p>

<p class="left">
&emsp;父が再び病院の中に姿を隠してしまうと、私はその丘陵を下り、岸に沿うて帰りかけた。
私はふと崖崩れのために落ちたかなり大きな石の塊が、道端にころがっているのを認めて、足を止めた。
それは見たところ、淡青色で、表面がすべすべしていて固そうであった。
私はステッキでその石を叩いてみた。
すると固そうに見えた石は、そのステッキの一撃によって、たくさんの亀裂を生じた。
</p>

<p class="left">
&emsp;傍線部の「ふと」は直接的にどの語句を修飾しているのか、
次の□の中の1～5のうちから、最も適当なものを一つ選びなさい。<br>
&emsp;1.落ちた 2.道端に 3.ころがっているのを 4.認めて 5.止めた<br>
&emsp;*淡青色・・うすい青色。
</p>

<p class="left">
≪解説≫<br>
&emsp;「ふと」は「副詞」といって、用言(述語となる言葉)を修飾します。
したがって、2.「道端」を修飾することはあり得ません。
さて、「ふと」の主語は何でしょうか?
「ふと」は「意図せずに」「思わず」といった意味を持ち、そのため主語はもちろん、人間に限られます。
すると、１.「落ちた」、3.「ころがっている」の主語は「石」ですから、
答えにはならないことがわかります。
これで選択肢は4.と5.に絞りこめたわけですが、
君たちの多くは5.「止めた」を答えにしていませんか?というのも、
「ふと～認めて」よりも、「ふと～止めた」の方が何となく語調がいいではないですか。
そういう人は、多いはずです。
そうやって何となく解いて、合ったり間違ったりを、これまでずっと繰り返してきたのです。
本当に「ふと足を止めた」のでしょうか?
次の文を見ると、「私」はステッキで石を叩いています。
ということは、石を叩こうと思って足を止めたのではないでしょうか。
それならば「ふと…、思わず」「意図せずに」だから、おかしなことになります。
一方、私はたまたま石の塊を見つけたのだから、「ふと認めて」はおかしくありません。
このように、この問題は「ふと」がどこにかかっているのかを、
一つの文の中にある「修飾と被修飾」という論理的な関係に着目して解いていかなければならないのです。
(解答：4.認めて)

</p>