<h1 class="heading"><br>
    【公開模擬テスト】<br>
    令和２年度 日程 予定表
</h1>

  <table border="1" bgcolor="white" width="100%" height="25" >
    <tr>
      <th width="20%">中学部</th>
      <th width="50%">月例テスト</th>
      <th width="30%">広学模試</th>
    </tr>
    <tr>
    <tr>
      <td>中１</td>
      <td class="left">&emsp;① 7月第2週 <br>&emsp;② 12月第2週</td>
      <td>ー</td>
    </tr>
    <tr>
      <td>中２</td>
      <td class="left">&emsp;① 4月第5週 <br>&emsp;② 7月第2週 <br>&emsp;③ 12月第2週</td>
      <td>ー</td>
    </tr>
    <tr>
      <td>中３</td>
      <td class="left">&emsp;① 4月第5週 <br>&emsp;② 7月第2週 <br>&emsp;③ 12月第2週 <br>&emsp;④ 2月第2週</td>
      <td>1月5日</td>
    </tr>
  </table>

<h1 class="heading"><br>
    【公開模擬テスト】<br>
    費用(内税)<br><br>
</h1>

<p class = "left">
  &emsp;中１・２(３教科) : 2,200円 <br>
  &emsp;中１・２・３(５教科) : 2,800円 <br>
  &emsp;中３ 広学模試 : 2,800円 <br><br><br>
</p>