<body>
  <div id="news" class="big-bg">
    <%= image_tag "okagesama.jpg"%>
  </div>

  <div class="news-contents wrapper">
      <article>
          <p>
              平成７年に開校して以来、<br>地域や周りの方々に支えて頂きながら、<br>
              お陰さまで、今年度の秋には<br>創立２5周年を迎えました。<br><br>
              誠に有難い事です。<br><br>
              これからも、<br>歩を休めず進めて参ります。<br>
              少しでも皆様のお役に立てられるよう<br>精進致しますので<br>
              引続きご支援賜りますよう<br>改めてお願い申し上げます。
          </p>
          <p>
              野外活動大好き人間にとって、<br>
              塾の行事として、<br>塾生の声から始まったキャンプも、<br>同い年になります。<br>
              その間中、買いそろえてきたキャンプ用品も<br>6代7代と買い替わっています。<br><br>
              そう言えば、<br>家族にいやな顔をされた事が<br>あるような気もしますが、<br>
              当初より本人はいたって<br>元気で楽しんでいます。
          </p>
          <p>
              青空の下、<br>野外での新鮮な空気と食事も<br>楽しみの一つですが、<br>
              幾千年･幾万年前より届き続ける<br>夜星のまたたきの下、たき火は極みです。<br>
              ちろちろと遊ぶ炎をじっと眺めます。<br>
              取り囲む静かな夜の気配、<br>ゆらぐ炎は｢いにしえ｣となんら変わりません。<br><br>
              洞窟の中で揺れる炎を囲っていた<br>人間の祖先(原人かな？)より、<br>
              累々と受け継いで来た<br>今生きている一人の人間の<br>体や血、染色体は、<br>
              当たり前の事ですが、<br>その人の系図の中で一度たりとも<br>途切れたことはありません。<br><br>
              何かを伝えるために、<br>必死に生き抜いてきた祖先の人達の<br>思いがつながっています。<br>
              父母、祖父母、曾祖父母・・・猿、ほ乳類、<br>もしかすると、魚、微生物より？<br>
              さあ、何を伝えよう。<br>
              親として、大人として<br>何を伝えていくべきなのか。<br>
          </p>
          <p>
             ｢やってもできない」という〈思い込み〉が<br>
              いやな自分に、さらに重いふたをする。<br>
              その時にできなかっただけの事なのに・・。<br>
              一つを時間がかかっても理解しようとすれば、<br>
              嫌な自分という〈思い込み〉が一つなくなる。<br>
              それが元気の元となる。<br><br>
              そのためには、まず、<br>
             ｢しっかり自己を見つめ、欠点を隠さない。｣<br>事です。<br>
              それが自らを信じられるようになる<br>第一歩だと考えます。<br><br>
              学校の勉強にも自信がつく。<br>元気になる。<br>
              その事が生きていく中で<br>大事であると信じたい。<br>
          </p>
          <br>
          <p>K進ゼミナール塾長  川北 敏彦</p>
      </article>
  </div><!-- /.news-contents -->
</body>