<body>
  <section id="location">
      <div class="wrapper">
          <div class="location-info">
              <h3></h3>
              <p>
                  住所： 広島市南区
                  向洋新町 2-17-37<br>
                  <br>
                  電話番号： 082-569-5095<br>
                  お問い合わせ時間： 9:00〜20:00<br>
                  受付時間： 9:00〜16:30<br>
                  休講日：日曜、祝日
              </p>
          </div><!-- /.location-info -->
          <div class="location-map">
              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1e94NFxRGG12Y_KDF66LRACHRWDgzGGL6" width="640" height="480"></iframe>
          </div><!-- /.location-map -->
      </div><!-- /.wrapper -->
  </section><!-- /#location -->
</body>