 .heading {
   font-size: 25px;
 }

 table {
   margin: 20px 0;
 }

 .nece {
   color: red;
 }

 .course {
   margin-top: 20px;
   font-size: large;
 }

 .time {
   font-size: large;
 }
 
 .move-in {
   color: blue;
 }