<h1 class="heading"><br>今年度 学習予定
</h1>

<p class="left">
  春季講習会： 3/26（木）～ 4/6（月） <br><br>
  前期通常授業： 4/7（火）～ 9/30（水） <br><br>
  後期通常授業： 10/1（木）～ 3月中旬 <br><br>
  中３日曜テスト会： 12月より開講 <br><br>
  冬期講習会： 12/23（水）～ 1/６（水） <br>
  (正月休み：12/30(水) ～1/3(日) ) <br><br>
  中学プレゼミ：3月下旬～4月初旬 中学準備 
</p>