<body>
  <h1><span class="heading"><br>入塾について</span>
  </h1>

  <p class="left">
    <br>
    【授業体験】<br>&emsp;授業体験(1週間または2回)(費用はかかりません)の受講後に、本人の入塾意志決定を確認し、入塾手続きを完了して下さい。
    <br>

    <br>
    【塾生資格】<br>&emsp;受講開始1ヶ月間は入塾保留期間とし､これ以降に塾生として承認します。
    <br>この期間内に学習意欲が認められない者は入塾を許可できません。
    <br>（その期間にかかった実費以外は返金致します。）
    <br>

    <br>
    【入塾手続き】<br>&emsp;入塾の意向が決まれば[入塾申込書]に記入の上、提出して下さい。
    <br>&emsp;[入塾申込書]受取後に各金融機関よりの『自動引落し依頼書』を郵送致します。
    <br>「コース選択票」をご提出後に初回納入学費明細をお知らせします。
    <br>&emsp;初回納入について 『自動引落し』が間に合わない場合があります。
    その折には、学費(初回納入)は保護者が持参されるか、お振込みをお願い致します。
    <br>

    <br>
    【経費】<br>&emsp; 入塾金は、5,500円/（紹介割引で）3,300円になります。
    <br> &emsp; 指導料は、月下旬に当月分を納入して下さい。
    <br> &emsp; テキスト代金は、受講教科分のテキストは実費納入してください。
    <br> &emsp; 諸経費は、半年分6,600円 (月割り)です。
    <br> &emsp; 公開模試受験料(公開模試は、原則として指定した日時に受験して下さい。)
    <br> 受験料は【テスト対策問題集】＋『テスト用紙』＋テスト処理費を含みます。
    <br> &emsp; 講習費 : 夏期・冬期の講習費をそれぞれ<br>8月・1月下旬に納入して下さい。
    <br>
    <br>
    【特典】<br>&emsp; 紹介入塾の場合は、入塾金は3,300円となります。
    <br>
      &emsp;兄弟入塾の場合は、入塾金は免除となります。
    <br>
      &emsp;指導料は、3人同時在塾の3人目は免除します。
      <br>&emsp;諸経費は、
      <br>① 同時在塾の場合、2人目以降は無料、<br>
      ② 元塾生の兄弟2人目は50％分、
      3人目は25％分となります。
    <br>
    <br>
    <br>
    【自動引き落とし】<br>&emsp;学費（指導料・諸経費等）の納入に際しては、
    指定の金融機関からの『自動口座振替』をご利用頂いております。
    <br>
    <br>
    【返金】<br>&emsp;退塾やコース変更にともなう返金は必要経費を差引いた金額を返金致します。
    <br>(入塾金・入会金・テキスト代・テスト代金は返金できません。)
    <br>諸経費は月割りで清算致します。
    <br>返金処理は、処理にかかる費用を差引いた金額を入金が確認できた日の翌日に、以下の様に処理をします。<br>
    <br>・コース変更： 翌月の請求分と清算するか、返金処理をします。
    <br>・退塾の際：上記返金処理<br>
    <br>
    【学費(初回納入】<br>・入塾金5,500円(紹介/3,300円)
    <br>・月指導料
    <br>&emsp;テキスト代金(1教科１冊約1,200円)の合計となります。
    <br>&emsp;(小学生は算・国それぞれ1冊、中学生は1教科2冊を持ちます。)
    <br>・諸経費(半年分)6,600円(詳細はお問合せ下さい。)

    <br>

    <br>
  </p><br><br>
</body>